<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="10">
    <Appenders>
        <!--
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </Console>
        -->
        <RandomAccessFile name="file" fileName="/home/jamesl/log/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="file"/>
        </Root>
        <Logger name="jamesl.ratpack.memcache.DefaultMemcache$DefaultMemcacheChannelPoolHandler" level="DEBUG" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <!--
        <Logger name="jamesl.ratpack.memcache.DefaultMemcache" level="DEBUG" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="jamesl.ratpack.memcache.ResponseHandler" level="TRACE" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="jamesl" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="sample" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        -->
    </Loggers>
</Configuration>